@charset "utf-8";


body{font-family: 'Pretendard', sans-serif; font-size: 1.6rem; line-height: 1.3; color: #151515;
max-width: 100%; overflow-x: hidden;}
:root{--font-color:#151515; --main-color:#0e1d54; --bg-color:#e8eaed; --quickbg-color:#f9f9fd;
--main-font:'Pretendard', sans-serif;  --sub-font:'Ohsqare', sans-serif; }
.inner{max-width: 1440px; margin: 0 auto;}


/* #header-top*/

#header .header-top{height: 130px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; position: relative;}
.header-top h1{font-family: var(--sub-font); font-size:1.5rem; position: absolute;left: 50%; transform: translateX(-50%);}
.header-top h1 a{display: flex; justify-content: center; align-items: center; gap: 20px;}
.header-top h1 b{text-wrap: nowrap;}
.header-top h1 b{display: block; font-size: 3.2rem;}
.header-top ol {display: flex; justify-content: center; gap: 22px; font-size: 0; position: absolute; right: 20px;} 
.header-top ol li{cursor: pointer;}
.header-top ol li:first-child{width: 22px; height: 22px; background:url(../img/common/ico_search.svg) no-repeat center;}
.header-top ol li:nth-child(2){width: 22px; height: 22px; background:url(../img/common/ico_home.svg) no-repeat center;}
.header-top ol li:last-child {width: 22px; height: 22px; background:url(../img/common/ico_allmenu.svg) no-repeat center;}

  
/* #header-nav */
#header{ z-index: 1000;}
#header nav .gnb{display: flex; justify-content: center; z-index: 1000; box-sizing: border-box;}
#header nav .gnb > li{position: relative;}
#header nav .gnb > li > a{display: block; padding: 24px 48px; font-size: 2.4rem; font-weight: 500; border-bottom: 7px solid #fff;}
#header nav .gnb > li:hover > a{ color: var(--main-color); border-bottom: 7px solid var(--main-color); font-weight: 600;
}
.gnb .depth2{width: 100%; position: absolute; left: 0; top: 0;  
   top: 100%;  text-align: center; z-index: 100; display: none; }
.gnb .depth2 a{display: block; padding: 10px; font-size: 2.0rem; transition: all 0.5s; color: var(--main-color); background: rgba(255,255,255,0.7);}
.gnb .depth2 a:hover{ font-weight: 500; color: #fff; background: rgba(14,29,84,0.3);}
#header .ham{width: 45px; height: 45px; background: url(../img/common/ham.svg) no-repeat center; font-size: 0; position: absolute; 
top: 4%;  right: 3%; display: none; cursor: pointer;}


@media(max-width:1320px){ 
  #header .header-top{height: 100px;}
  #header nav .gnb{display: none;}
  #header .ham{display: block;}
  .header-top ol{display: none;}
}

@media(max-width:800px){
  #header .header-top{height: 70px;}
  #header .ham{top: 12px;  transform: scale(0.9);}
  .header-top h1 a{font-size: 1.6rem;}
  .header-top h1 a img{width: 120px;}
  .header-top h1 b{font-size: 2.6rem;}
}
@media(max-width:550px){
  .header-top h1 a{font-size: 1.2rem; gap: 10px;}
  .header-top h1 b{font-size: 2.0rem;}
  .header-top h1 a img{width: 80px;}
}

/* 모바일 메뉴 */
.mgnb_wrap{position: fixed; right: 0; top: 0;width: 468px;height: 100%;background: var(--bg-color);z-index: 1100; }
.mgnb_wrap .inner{display: flex; }
.mgnb_top{height: 50px; font-family: var(--sub-font); font-size: 1.0rem; text-align: center;padding-top: 10px; background: #fff; }
.mgnb_close{ width:14px; background:  url(../img/main/ham_close.svg) no-repeat center; color: transparent; position: absolute; top: -35px; right: 10px; cursor: pointer;}
.mgnb_top b{font-size: 1.8rem;}
.mgnb>li{width: 208px; background-color: var(--main-color);}
.mgnb>li>a{display: block; padding:20px 20px; font-size: 1.7rem; font-weight: 500; color: #fff; text-align: center; border-bottom: 1px solid var(--bg-color);}
.mgnb>li.active {background-color: var(--bg-color);}
.mgnb>li.active a{color: var(--main-color); font-weight: 600;}
.mdepth2 {padding-top: 15px; width: 260px;}
.mdepth2 li a{display: block; text-align: center; font-size: 1.6rem; padding: 15px 20px;}
.mdepth2 li a:hover{color: var(--main-color);font-weight: 500;}
.mgnb_dimmed{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0,0,0,0.6); z-index: 1010;}


@media(max-width:500px){
  .mgnb_wrap{width: 330px;}
  .mgnb>li{width: 150px; }
  .mgnb>li>a{font-size: 1.6rem;}
  .mdepth2{width: 180px;}
  .mdepth2 li a{font-size: 1.5rem;}
}





/* footer */
#footer{background: #eee; padding: 40px 5%;}
#footer img{width: 126px; padding-bottom: 22px;}
#footer address{font-size: 1.4rem; margin-bottom: 8px; color: #666;}
#footer address br{display: none;}
#footer p{font-size: 1.4rem; margin-bottom: 8px; color: #666; word-break: keep-all;}
#footer .inner p:nth-child(3) br{display: none;}
#footer p a{display: inline-block; font-size: 1.4rem; color: #666;}
#footer p span::before{display: inline-block; content: ''; width: 1px ; height: 10px; background: #666; left: 0; top: 0; margin: 0 10px;}


@media(max-width:600px){
  #footer img{text-align: center;}
  #footer address{font-size: 1.2rem}
  #footer p {font-size: 1.2rem; text-align: left;}
  #footer p a{font-size: 1.2rem;}
  #footer address br{display: block;}
  #footer .inner p:first-of-type br{display: block;}
  #footer p span::before{display: none;}
}